.gallery {
  text-align: center;
  padding-bottom: 20px;
  .gallery__container {
    display: flex;
    width: 88%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;

    .box {
      text-align: center;
      overflow: hidden;
      position: relative;
      margin: 1.5%;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
      }
      .hover {
        width: 0%;
        height: 50vh;
        background-color: rgba(23, 48, 241, 0.622);
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: 0.4s all;
      }
      h1 {
        position: absolute;

        top: 35%;

        color: white;
      }
    }

    .box:hover .hover {
      width: 100%;
    }
    //-------------------------------------------------------------//

    .photo__gallery {
      position: relative;
      margin-bottom: 35px;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
      transition: 0.6s ease;
    }
  }
}

.photo__gallery:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

/*---------------------*/

@media (min-width: 500px) {
  .photo__gallery {
    img {
      width: 450px;
      height: 300px;
    }
  }
  .gallery {
    .gallery__container {
      .photo__gallery {
        width: 450px;
        height: 300px;
      }
    }
  }
}
