.gallery {
  text-align: center;
  padding-bottom: 20px;
  .gallery__container {
    display: flex;
    width: 88%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
    .photo__gallery {
      width: 100%; // 400 responsive
      height: 200px;
      position: relative;
      margin-bottom: 35px;
      border-radius: 5px;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
      transition: 0.6s ease;
      .contenedor-modal {
        p {
          position: absolute;
          bottom: 5%;
          left: 5%;
          color: white;
        }
      }
    }
  }
}

.photo__gallery:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.photo__gallery {
  img {
    width: 100%; // para jugar con el tamaño en el r4sponsive
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.55s ease;
    overflow: hidden;
  }
}

.photo__gallery:hover .overlay {
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
}

/*---------------------*/

.contenedor-modal.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 2;
}
.contenedor-modal.active img {
  z-index: 3;
  width: 700px;
  height: 700px;
}

.contenedor-modal.active::after {
  position: fixed;
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(211, 211, 211, 0.459);
}

.contenedor-modal.active {
  background-color: rgba(211, 211, 211, 0.459);
}

@media (min-width: 500px) {
  .photo__gallery {
    img {
      width: 450px; // para jugar con el tamaño en el r4sponsive
      height: 300px;
    }
  }
  .gallery {
    .gallery__container {
      .photo__gallery {
        width: 450px; // 400 responsive
        height: 300px;
      }
    }
  }
}
